.carousel-root {
  width: 100%;
}

.carousel-slider {
  width: 100%;
  /* Ensure the slider takes the full height of the container */
}

.carousel.carousel-slider .control-arrow {
  background-color: rgba(0, 0, 0, 0.26);
  font-size: 4rem;
}

.singleproduct__product {
  display: grid;
  grid-template-columns: 50% 50%;
}
.singleproduct__img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 0 solid black;
  border-width: 0 0 1px 1px;
}

.singleproduct__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.singleproduct__details {
  height: 100%;
  border: 0 solid black;
  border-width: 0 0 1px 1px;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.singleproduct__details-p {
  width: 100%;
  word-wrap: break-word;
}

.product__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.quantity__btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity__btn {
  border: 1px solid black;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border: 0px solid black;
  border-width: 1px 0;
}

.singleproduct__carousel {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  gap: 2rem;
  flex-direction: column;
}

.singleproduct__combination {
  width: max-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.combination__img {
  height: 10vw;
  width: 10vw;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}

.combination__img img {
  height: 100%;
  width: 10vw;
  object-fit: cover;
  object-position: center;
}

.selectedcombination {
  border: 2px solid black;
  padding: 1rem;
}

.singleproduct__similarproducts {
  padding: 8rem;
  border: 0 solid black;
  border-width: 0 0 1px 1px;
  display: flex;
  justify-content: center;
}
.similarproducts__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  border: 0 solid black;
  border-width: 0 0 1px 1px;
}
.similarproducts__product {
  border: 1px solid black;
  cursor: pointer;
}
.similarproducts__img {
  height: 25vw;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.similarproducts__img img {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}

.similarproducts__details {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.basket__btn {
  margin-top: auto;
}

@media screen and (max-width: 990px) {
  .singleproduct__product {
    display: flex;
    flex-direction: column;
  }
  .singleproduct__img {
    height: 80vh;
  }
  .similarproducts__products {
    grid-template-columns: 1fr 1fr;
  }
  .similarproducts__img {
    height: 65vw;
  }
  .combination__img {
    height: 50vw;
    width: 50vw;
  }
}

@media screen and (max-width: 550px) {
  .singleproduct__details,
  .singleproduct__carousel,
  .similarproducts__details {
    padding: 0px;
  }
  .similarproducts__products {
    grid-template-columns: 1fr;
  }
  .similarproducts__img {
    height: 85vw;
  }
  .similarproducts__img img {
    opacity: 0.7;
  }
  .similarproducts__details span {
    font-size: 4rem;
    color: black;
  }
}
