.sign-in {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.sign-in__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  padding: 8rem;
}

.sign-in__login-details {
  width: 60%;
}

.sign-in__input-container form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  flex-direction: column;
  padding: 0 0 4rem;
  border-bottom: 1px solid black;
}

.sign-in__other-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forgot-password,
.sign-up__option {
  text-align: center;
  padding: 2rem;
  cursor: pointer;
  border-bottom: 1px solid #808080;
  width: 40%;
}

.sign-in__btn {
  width: 100%;
}

@media screen and (max-width: 990px) {
  .sign-in__login-details {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .sign-in__wrapper {
    padding: 4rem;
  }
}
