.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  min-height: 100vh;
}

.user__img,
.user__edit,
.orders {
  border: 0 solid black;
  border-width: 0 0 1px 1px;
}

.user__img {
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  flex-direction: column;
  background-color: #f5f5f7;
}

.user__edit {
  padding: 2rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.user__edit-wrapper {
  width: 100%;
  padding: 0rem 4rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user__img-imgContainer {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  border-bottom: 1px solid black;
}
.user__img-image {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
}

.user__img-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user__img-imgContainer-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.user__edit-details {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
}

.user__edit-details form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.special-emails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4rem 2rem;
  border: 1px solid black;
}
.special-emails__off {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  flex-direction: column;
}

.special-emails__on {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  flex-direction: column;
}

.monthly-subscription {
  background-color: #f5f5f7;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4rem 2rem;
  border: 1px solid black;
}

.ms__on {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  flex-direction: column;
}

.ms__off {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  flex-direction: column;
}
.orders {
}

@media screen and (max-width: 990px) {
  .dashboard {
    height: max-content;
    grid-template-columns: 1fr;
  }
  .user__details,
  .user__details-wrapper {
    padding: 0;
    width: 100%;
    height: max-content;
    border-radius: 0;
  }
  .user__details-img {
    min-height: 15rem;
    width: 100%;
    border-radius: 0;
    background-color: #f5f5f7;
  }
  .user__details-img img {
    object-fit: cover;
  }
  .user__details-info {
    padding: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .user__img-image {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }
  .user__edit {
    align-items: center;
    justify-content: center;
  }
  .user__edit h3 {
    text-align: center;
  }
  .user__edit-wrapper {
    padding: 0;
  }
}
